process {
    executor='slurm'
    containerOptions='--bind "/scratch:/scratch" --bind "/nfs:/nfs" --bind "/gpfs:/gpfs"'
    clusterOptions='--account=scjp1'
    shell = ['/bin/bash', '-ueo', 'pipefail']
    withName: cellbender {
        clusterOptions='--account=scjp1 --partition=gpu --gres=gpu:1'
    }
}

singularity.enabled = true
singularity.autoMounts = true
singularity.runOptions='--nv'
singularity.envWhitelist='CUDA_VISIBLE_DEVICES,PYTORCH_CUDA_ALLOC_CONF'

trace.enabled = true
report.enabled = true
dag.enabled = true
nextflowVersion = '>=20.10.1'

// you may wish to set singularity cache location to avoid unnecessarily re-downloading containers
singularity.cacheDir = "/scratch/scjp_root/scjp0/${USER}/singularity-cache"

//
// set paths for generic files here
//

params.star_index = ['hg38': '/scratch/scjp_root/scjp0/ccrober/reference/hg38_cvb4/STAR']
params.gtf = ['hg38': '/scratch/scjp_root/scjp0/ccrober/reference/hg38_cvb4/gencode.v39.annotation.CVB4.gtf']
