singularity.enabled = true
singularity.autoMounts = true
nextflowVersion = '>=20.10.0'
trace.enabled = true
report.enabled = true
dag.enabled = true

//
// You may need to change this, based on your computing environment
//

// If you use a workload manager besides SLURM, you can replace 'slurm' with the relevant workload manager, if supported: https://www.nextflow.io/docs/latest/executor.html
// If you don't use a supported workload manager, you can replace 'slurm' with 'local'
process {
    executor='slurm'
    containerOptions='--bind "/scratch:/scratch" --bind "/nfs:/nfs" --bind "/gpfs:/gpfs"'
    clusterOptions='--account=scjp1'
    shell = ['/bin/bash', '-ueo', 'pipefail']
    withName: get_peak_counts {
        clusterOptions='--account=scjp1 --partition=largemem'
    }
}

// you may wish to set singularity cache location to avoid unnecessarily re-downloading containers
singularity.cacheDir = "/scratch/scjp_root/scjp0/${USER}/singularity-cache"

// if the executor above is set to 'local' (i.e. you aren't using a supported workload manager),
// specify the computing resources available for running commands on your machine here
executor {
    name = 'local'
    cpus = 5
    memory = '300 GB'
}

//
// Below are the key file names you'll need to change
//

params.blacklist = ['hg38': '/scratch/scjp_root/scjp0/ccrober/reference/hg38/ENCFF356LFX.bed.gz']
params.chrom_sizes = ['hg38': '/scratch/scjp_root/scjp0/ccrober/reference/hg38_cvb4/hg38_cvb4.chrom.sizes']
params.bwa_index = ['hg38': '/scratch/scjp_root/scjp0/ccrober/reference/hg38_cvb4/bwa/hg38_cvb4']
params.tss = ['hg38': '/scratch/scjp_root/scjp0/ccrober/reference/hg38/hg38.refGene.tss.bed.gz']
params.plot_signal_at_genes = ['GAPDH', 'PDX1', 'GLIS', 'RFX6'] // if these genes exist in the TSS file, ATAC signal near their TSS will be visualized
